{% extends 'base.html' %} {% from 'bootstrap5/form.html' import render_form,
render_field, render_form_row %} {% from 'bootstrap5/utils.html' import
render_icon %}{% block content %}

<h2>{{caption}} Poli</h2>

<form method="post">
  {{ form.csrf_token }} {{ render_field(form.nama) }} {{
  render_field(form.alias) }}
  <div class="row">
    <div class="col-md-6">{{ render_field(form.submit) }}</div>
    <div class="col-md-6 text-sm-end">
      <a href="{{url_for('polis')}}" class="btn btn-info"
        >{{render_icon('list')}} Kembali ke daftar Poli</a
      >
    </div>
  </div>
</form>
{% endblock %}
